<div class="container-fluid" id="home-container">
  <div class="jumbotron text-white">
    <h1 class="display-4">Beta Blog</h1>
    
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>

